.entryList {
  display: flex;
  flex-wrap: wrap;
}

.entryWrapper {
  max-width: 350px;
  margin: 1.5rem;

  animation-name: animateIn;
  animation-duration: 300ms;
  animation-delay: calc(var(--stagger-order) * 75ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}
