.pageBackground {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;

  /* Gradient background */
  background: rgb(131, 58, 180);
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #100509,
    #190b11,
    #200f18,
    #27121f,
    #2b1829,
    #2e1e33,
    #30253d,
    #2d314a,
    #273c55,
    #24485c,
    #255360
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
}

.pageBackgroundTextColor {
  color: white;
}

.pageHeading {
  padding: 2rem;
  text-align: center;
}

.pageHeading h1 {
  font-size: 3rem;
}

.footer {
  padding: 1rem;
  text-align: center;
}
